name: Build Plugin
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        submodules: recursive  # 必须拉取子模块，否则编译会报错

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1

    - name: Restore NuGet Packages
      run: nuget restore QuickLook.Plugin.PdfViewer-Native.sln

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: Build Solution
      run: msbuild QuickLook.Plugin.PdfViewer-Native.sln /p:Configuration=Release /p:Platform=x86

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: PDFViewer-FitWidth
        path: Build/Release/  # 这是编译输出的目录
